<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css')}}" />
    <!-- including ECharts file -->
    <script type='text/javascript' src="{{url_for('static', filename='js/echarts.min.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static', filename='js/darktheme.js')}}"></script>


    <!-- <script src="https://cdn.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script> -->
    {% block header %}
    {% endblock %}

</head>

{% if request.endpoint == "seaice" %}
    <body style="background-image:url({{url_for('static', filename='images/arctic_sea_ice.jpg')}}); background-repeat: round;">
    
{% else %}
    <body>

{% endif %}
<nav class="navbar">
    <h3>
        <a class="navbar-item" id="n4" href="/">Home</a> | 
        <a class="navbar-item" id="n1" href="/sialoss">Arctic Sea Ice loss contributions</a> | 
        <a class="navbar-item" id="n2" href="/siage"> Arctic Sea ice age</a> | 
        <a class="navbar-item" id="n3" href="/sia_country"> Arctic sea loss by country</a>
    </h3>
</nav>
<hr>
    <div class="body-content">
        
        {% block content %}
        {% endblock %}
       


    </div>
    <br />
    <footer>
        <p>© 2021</p>
    </footer>
</body>

</html>