{% extends "sia_layout.html" %}
{% block title %}
Sea Ice Loss contributions by Top emitters, countries

{% endblock %}


{% block echart_option %}

   
option = {
    title: {
        text: '{{ title }}',
        subtext: '{{ subtitle }}',
        textStyle: {
            fontSize: 16,
            align: 'center'
        },
        subtextStyle: {
            fontSize: 14,
            align: 'center'
        }
    },
    legend: {
        show: false
    },
    tooltip: {
        trigger: 'item',
        showContent: true,
        formatter: '{b} : <br> {c} ( {d}% )  '
    },

    series: [
    {
        type : 'pie',
        label : { show : true },
        radius: ['30%', '70%'],
        data: {{ data | tojson }}
    } 
    ]
};

{% endblock %}

    
{% block comp_heading %}


{% endblock %}

{% block chart_info %}

Chart shows amount of Arctic Sea Loss contrbutions in m<sup>2</sup> per capita for each country.

{% endblock %}
            
         
        
